/* ------------------------------------Fonts and General */

@import url('https://fonts.googleapis.com/css?family=Lato|Oswald|Roboto&display=swap');

html, body {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    background: #e5e5e5;
}



/* ------------------------------------Heading */

.slidehead {
    position: static;
    list-style: none;
    top: 0;
}

nav i {
    margin-right: 2px;
}

.nav-item {
    position: absolute;
    display: inline-block;
    top: 0;
    font-family: "lato", sans-serif;
    z-index: 4;
    box-shadow: 4px 8px 6px 4px #200720;
    font-size: 15px;
    height: 50px;
    width: 150px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    background-color: #57648c;
    color: #e5e5e5;
}

.nav-link {
    text-decoration: none;
    border: none;
    margin-top: 5px;
    color: #e5e5e5;
}

.nav-link:hover {
    text-decoration: none;
    color: #e5e5e5;
}

.home-button {
    display: block;
    margin: 0 auto;
    z-index: 5;
    font-size: 15px;
    top: 0;
    border: none;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 4px 8px 6px 0px #200720;
    transition: all .4s ease-in-out;
    transform: translateY(0px);
}

.slide-about {
    transition: all .3s ease-in-out;
    transform: translateX(0px);
}

.slide-portfolio {
    transition: all .3s ease-in-out;
    transform: translateX(0);
}

.slide-contact {
    transition: all .3s ease-in-out;
    transform: translateY(0);
}

.slidehead:hover .slide-about {
    transform: translateX(-150px);
}

.slidehead:hover .slide-portfolio {
    transform: translateX(150px);
}

.slidehead:hover .slide-contact {
    transform: translateY(50px);
}

.slidehead:hover .home-button {
    box-shadow: 0px 0px 0px 0px #200720;
    text-decoration: none;
}

/* ------------------------------------Top aligned sidebars */

.rightbar {
    position: static;
    top: 0;
    right: 0;
    height: inherit;
}

.leftbar {
    position: static;
    top: 0;
    left: 0;
    height: 100%;
}

/* ------------------------------------Section Left Bar */

.left-me {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    padding-top: 10px;
}

.left-title {
    text-transform: capitalize;
    text-align: center;
    font-style: italic;
    font-size: 20px;
    word-spacing: .15em;
    letter-spacing: 0.1em;
    font-weight: 400;
    margin: 10px 0px;
}

.left-title2 {
    text-align: center;
    font-style: italic;
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: 300;
}

.left-text {
    text-align: center;
    font-size: 14px;
    font-weight: 100;
    margin-top: 20px
}

/* ------------------------------------Section Presentation Card */

.middlecard {
    position: relative;
    font-family: "Roboto", sans-serif;
    visibility: hidden;
    height: 100%;
    margin-top: 20px;
    padding: 10px;
}

.me-card {
    visibility: hidden;
    display: block;
    margin: 30px;
    border-radius: 50%;
}

.card-title {
    visibility: hidden;
    text-align: left;
    margin: 20px 0 10px;
    font-weight:600;
}

.card-hr {
    width: 60%;
}

.card-title2 {
    visibility: hidden;
    text-align: left;
    margin-bottom: 10px;
}

.card-text {
    visibility: hidden;
    text-align: left;
    font-size: 14px;
    font-weight: 400;
}

.skills {
    height: 100%;
    overflow: wrap;
}

/* -----------------------------------Section Progress */

.progress {
    height: 15px;
    margin-top: 10px;
}

.progress-text {
    position: relative;
    font-style: italic;
    text-align: center;
    left: 0px;
    font-size: 14px;
    font-weight: 600;
}

/* ------------------------------------Section Skills Card */

.wrap-stack {
    padding: 10px;
    box-shadow: 4px 8px 6px 0px #200720;
}

.stacks-header {
    display: inline-block;
    text-transform: capitalize;
    text-align: left;
    font-size: 16px;
    letter-spacing: .1em;
    font-weight: 600;
    margin-top: 5px;
}

.stacks-header i {
    padding-right: 5px;
}

.stacks-text { 
    font-size: 14px;
}

/* ------------------------------------Footer */

footer {
    bottom: 0;
    height: 100%;
}

.footer-h6 {
    text-align: left;
    margin: 20px;
    font-size: 1.1em;
    letter-spacing: 0.05em;
}

.social-h6 {
    text-align: left;
    margin-top: 20px;
    font-size: 1.1em;
    letter-spacing: 0.05em;
}

footer i {
    text-align: left;
    padding-right: 2px;
}

.footer-p {
    letter-spacing: .02em;
    text-align: left;
    font-size: 1em;
    padding: 15px;
}

.social-links {
    text-align: left;
    margin-top: 30px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 10px 0;
    border-radius: 50%;
    margin-right: 5px;
    font-size: 14px;
    text-align: center;
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

/* ------------------------------------About */

.me-about {
    margin-top: 60px;
    width: 80%;
    min-width: 250px;
    height: 80%;
    min-height: 250px;
    max-height: 400px;
    border-radius: 50%;
}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-about {
    width: 19%;
    height: 19%;
    margin: 0 auto;
}

.right-about-heading hr, .left-about-heading hr {
    width: 100%;
}

.left-about-heading {
    width: 80%;
    float: right;
    line-height: 20px;
    margin-bottom: 50px;
    padding-left: 20px;
    clear: both;
}

.left-about-heading h2 {
    text-align: left;
}

.left-about-heading p {
    text-align: left;
}

.right-about-heading {
    width: 80%;
    float: left;
    line-height: 20px;
    margin-bottom: 50px;
    padding-right: 20px;
    clear: both;
}

.right-about-heading h2 {
    text-align: right;
}

.right-about-heading p {
    text-align: right;
}

#welcome {
    margin: 200px 0;
    text-align: center;
    font-size: 280%;
}

/* ------------------------------------Portfolio */

.portfolio-title {
    text-transform: capitalize;
    text-align: center;
    font-style: italic;
    font-size: 20px;
    word-spacing: .15em;
    letter-spacing: 0.1em;
    font-weight: 400;
    margin: 150px 0 40px;
}

.portfolio-text {
    font-size: 17px;
    text-align: center;
    font-style: italic;
}

    
/* -----------Portfolio Slideshow------------- */

.slideshow {
    -webkit-box-shadow: 8px 8px 20px 10px #200720cc;
    -moz-box-shadow: 8px 8px 20px 10px #200720cc;
    box-shadow: 8px 8px 20px 10px #200720cc;
    margin-bottom: 100px;
    border-radius: 20px;
    animation-name: slidepic;
    animation-duration: 3s;
    animation-fill-mode: infinite;
}


.trigger {
    display: none;
}

.turner, .slideshow {
    position: relative;
    height: 280px;
}

.turn {
    position: absolute;
    display: block;
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
    height: 100%;
    right: 0;
    left: 0;
    top: 0;
    opacity: 0;
    transition: opacity .5s ease-in-out;
}

.turn-img {
    object-fit: fill;
    height: 100%;
    width: 100%;
    vertical-align: middle;
    border-radius: 20px;
}

.turn-figure {
    height: 100%;
    position: relative;
    margin: 0;
}

.trigger:checked + .turn {
    z-index: 6000;
    opacity: 1;
}

.turn-nav {
    width: 100%;
    text-align: center;
    font-family: "Roboto", sans-serif;
    margin: 1rem 0;
}

.turn-navitem {
    text-align: center;
    display: inline-block;
}

.turn-navlabel {
    font-size: 18px;
    font-weight: 300;
    display: inline-block;
    height: 2em;
    text-align: center;
    cursor: pointer;
    transition: background-color .25s, color .25s ease-in-out;
}


/* ------------------------------------Contact */


.contact-form {
    margin: 50px 0;
}

.form-group button[type=submit] {
    width: 100%;
}

.contact-heading {
    text-align: center;
    text-transform: capitalize;
    text-decoration: underline;
    margin: 20px 0 10px;
}


/* ------------------------------------Colours */



.nav-item, .nav-item a, .home-button, .home-button a {
    background-color: #57648c;
    color: #e5e5e5;
}

.nav-link:hover, .homebutton:hover {
    color: #e5e5e5;
}

footer {
    background-color: #57648c;
    color: #e5e5e5;
}

.footer-h6 i, .social-h6 i {
    color: #ffbb00;
}

.form-group button[type=submit] {
    color: #e5e5e5; 
}

.card-about, .card-portfolio {
	background-color: #e5e5e5;
    color: #57648c;
}

.middlecard {
    color: #57648c;
}

.card-body-about a {
    color: #e5e5e5;
}

.social-links li a i {
    background: #2a47a0;
    color: #e5e5e5;
}

.social-links li a i:hover {
    background: #133394;
}

.right-about-heading hr, .left-about-heading hr {
    border-top: 2px solid #ffbb00;
}

.card-hr, .leftbar hr {
    border-top: 2px solid #c2b4d6;
}

#welcome {
    text-shadow: 3px 3px #190419;    
}

.left-title, .left-title2, .left-text2 {
    color: #e5e5e5;
}

.form-group, .contact-heading {
    color: #57648c;
}

.form-group button[type=submit] {
    background-color: #57648c;
    color: #e5e5e5;
}

.form-group button[type=submit]:hover {
    background-color: #57648c;
    color: #e5e5e5;
}

.wrap-stack, .card-title i {
    background-color: #57648c;
    color: #e5e5e5;
}

.progress {
    background-color: #C2B4D6;
}

.progress-text {
    color: #e5e5e5;
}

.leftbar, .rightbar {
    background-color: #57648c;
    color: #e5e5e5;
}

.portfolio-title {
    color: #57648c;
}

.portfolio-text {
    color: #57648c;
}

.slideshow {
    background-color: #57648c;
}

/* ------------------------------------Media Queries */


@media(max-width: 1200px) {
}

@media(max-width: 992px) {
    .leftbar, .rightbar, .left-me, .left-title, .left-title2, .left-text2 {
        display: none;
    }
    .me-card, .card-title, .card-title2, .card-text, .progress-card {
        visibility: visible;
    }
    .middlecard {
        visibility: visible;
        margin-top: 120px;
    }
    .me-card {
        margin: 0 auto;
    }
    .card-title, .card-title2, .card-text {
        text-align: center;
    }
    .progressbar-card {
        margin-top: 30px;
    }
}

@media(max-width: 768px) {
    .footer-h6 {
    text-align:center;
    }
    .footer-p {
    text-align:center;
    }
    .footer-h6 i {
    text-align:center;
    }
    .social-links {
    text-align: center;
    }
    .social-h6 {
    text-align: center;
    }
}

@media(max-width: 576px) {
}

@media only screen and (max-width: 1200px) {
.slidehead {
	pointer-events: none; }
.slidehead .slide-about {
	position:relative;
	transform: translateX(-150px);
	pointer-events: none; }
.slidehead .slide-portfolio {
	position:relative;
	pointer-events: none;
	transform: translateX(150px; }
.slidehead .slide-contact {
	position:relative;
	pointer-events: none;
	transform: translateY(50px); }
.slidehead .home-button {
	box-shadow: 0px 0px 0px 0px #200720;
	text-decoration: none;
	pointer-events: none;
}
