/* -------------Fonts and General Colors #934A5F  / #57648C / #C2B4D6  / #E5E5E5 */

@import url('https://fonts.googleapis.com/css?family=Lato|Oswald|Roboto&display=swap');

html, body {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    background-color: #57648C ;
    color: #E5E5E5 ;
}

/* ------------------------------------Heading */

.slidehead {
    position: static;
    list-style: none;
    top: 0;
}

nav i {
    margin-right: 2px;
}

.nav-item {
    position: absolute;
    display: inline-block;
    top: 0;
    font-family: "lato", sans-serif;
    z-index: 4;
    box-shadow: 4px 8px 6px 4px #200720;
    font-size: 15px;
    height: 50px;
    width: 150px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    background-color: #57648c;
    color: #e5e5e5;
}

.nav-link {
    text-decoration: none;
    border: none;
    margin-top: 5px;
    color: #e5e5e5;
}

.nav-link:hover {
    text-decoration: none;
    color: #e5e5e5;
}

.home-button {
    display: block;
    margin: 0 auto;
    z-index: 5;
    font-size: 15px;
    top: 0;
    border: none;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 4px 8px 6px 0px #200720;
    transition: all .4s ease-in-out;
    transform: translateY(0px);
}

.slide-about {
    transition: all .3s ease-in-out;
    transform: translateX(0px);
}

.slide-portfolio {
    transition: all .3s ease-in-out;
    transform: translateX(0);
}

.slide-contact {
    transition: all .3s ease-in-out;
    transform: translateY(0);
}

.slidehead:hover .slide-about {
    transform: translateX(-150px);
}

.slidehead:hover .slide-portfolio {
    transform: translateX(150px);
}

.slidehead:hover .slide-contact {
    transform: translateY(50px);
}

.slidehead:hover .home-button {
    box-shadow: 0px 0px 0px 0px #200720;
    text-decoration: none;
}

main {
    height: 800px;
}

/****************************************/

.showcase {
    text-align: center;
    display: block;
    margin: 0 auto;
}

.slideshow {
  list-style-type: none;
}

/** SLIDESHOW **/

.slideshow, .slideshow:after { 
	position: static;
    width: 100%;
    height: 100%;
    left: 0px;
    z-index: 0; 
}

.slideshow li span { 
	position: absolute;
    width: 100%;
    height: 100%;
    color: transparent;
    background-size: cover;
    vertical-align: middle;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 30s linear infinite 0s; 
}

.slideshow li:nth-child(1) span { 
    background: url(../images/stellaris.png);
}
.slideshow li:nth-child(2) span { 
    background: url(../images/factorio.png);
    animation-delay: 6s; 
}
.slideshow li:nth-child(3) span { 
    background: url(../images/ck2.jpeg);
    animation-delay: 12s; 
}
.slideshow li:nth-child(4) span { 
    background: url(../images/ck.jpg);   
    animation-delay: 18s; 
}
.slideshow li:nth-child(5) span { 
    background: url(../images/minecraft.jpg);
    animation-delay: 24s; 
}

@keyframes imageAnimation { 
    0% { opacity: 0; animation-timing-function: ease-in; }
    8% { opacity: 1; animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

@keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}

.no-cssanimations .cb-slideshow li span {
	opacity: 1;
}

