/* ------------------------------------General */
html, body {
    margin: 0;
    padding: 0;
    font-family: verdana, sans-serif;
    background: #e5e5e5;
}


/* ------------------------------------Heading */

nav, nav ul {
    height: 0;
}

nav ul li {
    z-index: 4;
    box-shadow: 4px 8px 6px 4px #200720;
    top: 0;
    line-height: 25px;
    font-size: 15px;
    min-height: 50px;
    min-width: 150px;
    border: none;
    list-style: none;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}

nav ul li a {
    margin-top: 5px;
}

nav ul li a:hover {
    text-decoration: none;
}

.home-button {
    position: relative;
    z-index: 5;
    font-size: 15px;
    top: 0;
    min-height: 50px;
    min-width: 150px;
    border: none;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 4px 8px 6px 0px #200720;
    transition: all .4s ease-in-out;
    transform: translateY(0px)
}

.slide-about {
    position: absolute;
    transition: all .3s ease-in-out;
    transform: translateX(0px);
}

.slide-portfolio {
    position: absolute;
    transition: all .3s ease-in-out;
    transform: translateX(0);
}

.slide-contact {
    position: absolute;
    transition: all .3s ease-in-out;
    transform: translateY(0);
}

.slide {
    position: relative;
}

.slide:hover .slide-about {
    transform: translateX(-150px);
}

.slide:hover .slide-portfolio {
    transform: translateX(150px);
}

.slide:hover .slide-contact {
    transform: translateY(50px);
}

.slide:hover .home-button {
    box-shadow: 0px 0px 0px 0px #200720;
    text-decoration: none;
}

/* ------------------------------------sidebars */

.leftbar {
    position: absolute;
    top: 0;
    left: 0;
    border-top: 600px solid #57648c;
}

.toptrianglecenter {
    visibility: hidden;
    position: absolute;
    top: 0;
    border-right: 250px solid transparent;
    border-left: 250px solid transparent;
    border-top: 250px solid #57648c;
}

.rightbar {
    position: absolute;
    top: 0;
    right: 0;
    border-top: 600px solid #57648c;
}

/* ------------------------------------Colours */

nav ul li {
    background-color: #57648c;
    color: #e5e5e5;
}

nav ul li a {
    color: #e5e5e5; 
}

nav ul li a:hover {
    color: #e5e5e5;
}

button a {
    color: #e5e5e5;
}

button a:hover {
    color: #e5e5e5;
}

.home-button {
    color: #e5e5e5;
    background-color: #57648c;
}

footer {
    color: #e5e5e5;
	background-color: #57648c;
}

.card, .card-about, .card-portfolio {
    margin-top: 150px;
    border: 1px solid #201563;
    background-color: #57648c;
    color: #e5e5e5;
}

.portfolio-btn-heading a {
    color: #e5e5e5;
}

.card-body-about a {
    color: #e5e5e5;
}

h6 i {
    color: #c2b4d6;
}

.social-links li a i {
    color: #e5e5e5;
    background: #934a5f;
}

.social-links li a i:hover {
    background: #7a3045;
}

hr {
    border-top: 2px solid #ffbb00;
}

#welcome {
    text-shadow: 3px 3px #190419;    
}

.wrap-stacks {
    color: #57648c;
}

/* ------------------------------------Image attributes */

.me-corner {
    border-radius: 50%;
    padding: 20px;
}

@keyframes load-zoom {
    from{
        transform: scale(0.9)
    }
    to{
        transform: scale(1)
    }
}

/* ------------------------------------Section */

@keyframes fade {
    0%{opacity:.75}
    50%{opacity:0}
    100%{opacity:.75}
}

.wrap-stacks {
    position: relative;
    margin-top: 400px;
}


.stacks-header {
    text-transform: uppercase;
    text-align: left;
    font-size: 1em;
    letter-spacing: .1em;
    font-weight: 900;
    margin-bottom: 20px;
    padding-left: 20px;
}

.stacks-logo {
    float: left;
    border-radius: 50%;
    margin: 10px 20px 15px 0;
}

.stacks-text { 
    font-size: 1em;
    font-weight: 500;
    padding-top: 1px;
}

.card {
    margin-top: 200px;
    opacity: 0.8;
    display: block;
    margin-bottom: 30px auto;
    width: 100%;
    animation-name: load-zoom;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

.card-body {
    margin: 0 auto;
    width: 90%;
}

.card-title {
    text-align: center;
    margin-top: 20px;
}

.card-text {
    width: 90%;
    text-align: center;
    font-size: 14px;
    margin-top: 15px;
}

/* ------------------------------------Footer */

footer {
    position: relative;
    bottom: 0;
    height: wrap;
}

.footer-h6 {
    text-align: left;
    margin-top: 20px;
    overflow: none;
    font-size: 1.1em;
    letter-spacing: 0.1em;
}

.social-h6 {
    text-align: center;
    margin-top: 20px;
    overflow: none;
    font-size: 1.1em;
    letter-spacing: 0.1em;
}

h6 i {
    text-align: left;
    padding: 0 5px 5px 0;
}

.footer-p {
    letter-spacing: .01em;
    text-align: left;
    font-size: 16px;
}

.social-links {
    text-align: center;
    margin-top: 25px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 10px 0;
    border-radius: 50%;
    margin-right: 5px;
    font-size: 14px;
    text-align: center;
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

/* ------------------------------------About */

.me-about {
    margin-top: 60px;
    width: 80%;
    min-width: 250px;
    height: 80%;
    min-height: 250px;
    max-height: 400px;
    border-radius: 50%;
    animation-name: load-zoom;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

.section-about {
    height: 800px;
}

.footer-about {
    height: 200px;
}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-about {
    width: 19%;
    height: 19%;
    margin: 0 auto;
}

hr {
    margin: 5px 0 0 0 auto;
    width: 100%;
}

.left-about-heading {
    width: 80%;
    float: right;
    line-height: 20px;
    margin-bottom: 50px;
    padding-left: 20px;
    clear: both;
}

.left-about-heading h2 {
    text-align: left;
}

.left-about-heading p {
    text-align: left;
}

.right-about-heading {
    width: 80%;
    float: left;
    line-height: 20px;
    margin-bottom: 50px;
    padding-right: 20px;
    clear: both;
}

.right-about-heading h2 {
    text-align: right;
}

.right-about-heading p {
    text-align: right;
}

#welcome {
    margin: 200px 0;
    text-align: center;
    font-size: 280%;
}


/* ------------------------------------Portfolio */

.card-portfolio {
    opacity: 0.7;
    height: 90%;
    width: 100%;
    margin: 30px;
}

.card-p-portfolio {
    text-align: center;
    font-size: 14px;
    margin: 10px 0;
}

.portfolio-btn-heading {
    text-align: center;
}

.card-body a {
    height: 40px;
    font-size: 15px;
    margin-top: 20px;
}

/* ------------------------------------Contact */

.contact-column {
    margin-top: 100px;
}

/* ------------------------------------Media Queries */

@media(min-width: 992px) {
}

@media(max-width: 768px) {
    .footer-h6 {
    text-align:center;
    }
    .footer-p {
    text-align:center;
    }
    .footer-h6 i {
    text-align:center;
    }
    .toptriangleleft {
    display:none;
    }
    .toptriangleright {
    display:none;
    }
    .toptrianglecenter {
    visibility: visible;
    }
    .me-corner {
        display: block;
        margin: 0 auto;
        margin-top: 100px;
    }
}
