/* ------------------------------------General */

body {
    margin: 0;
    padding: 0;
    color: #fafafa;
    font-family: 'lucida sans', sans-serif;
}

/* ------------------------------------Heading */

nav ul li, button {
    position: static;
    top: 0;
    height: 55px;
    width: 165px;
    border: none;
    list-style: none;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}

.home {
    z-index: 2;
    border: none;
}

.home a {
    border: none;
    text-decoration: none;
}

.slide-about {
    transition: transform .35s ease-in-out;
    transform: translateX(180px);
}

.slide-portfolio {
    box-shadow: 4px 8px 6px 0px #190419;
    transition: transform .35s ease-in-out;
    transform: translateX(-180px);
}

.navitem:hover ~ .slide-about {
    transform: translateX(180px);
}

.navitem:hover ~ .slide-portfolio {
    transform: translateX(-180px);
}

/* ------------------------------------Colours */

.navbar {
    background-color: #5E5906;
}

ul li {
    background-color: #5E5906;
    color: #aea842;
}

ul li a {
    color: #aea842; 
}

ul li a:hover {
    color: #fffbb3;
}

button a {
    color: #aea842;
}

button a:hover {
    color: #fffbb3;
}

.home {
    color: #cbd191;
    background-color: #5E5906;
}

.dropdownMenu {
    background-color: #55906;
    color: #cbd191;
}

footer {
    color: #cbd191;
	background-color: #503f2f;
}

.me {
    border: 2px outset #201563;
}

.me-about {
    border: 2px outset #201563;
}

.card, .card-about, .card-portfolio {
    border: 2px outset #201563;
    background: #503f2f;
    color: #cbd191;
}

.portfolio-btn-heading a {
    color: #cdf100;
}

.card-body-about a {
    color: #cbd191;
}

h6 i {
    color: #fffb00;
}

.social-links li a i {
    color: #cbd191;
    background: #131581;
}

.social-links li a i:hover {
    background: #014c92;
}

.contact1, .contact2 {
    color: #fafafa;
}

.contact-request {
    color: #cbd191;
    background-color: #181bc4;
}

hr {
    border-top: 2px solid #eeff00;
}

.section-about {
    color: #fafafa;
    text-shadow: 1px 1px #190419;
    font-weight: 900;
}

#welcome {
    text-shadow: 3px 3px #190419;    
}

/* ------------------------------------Image attributes */

.me-container {
    margin: 50px auto;
    width: 80%;
    height: 80%;
}

.me {
    width: 100%;
    max-width: 300px;
    height: 100%;
    max-height: 400px;
    border-radius: 50%;
    animation-name: load-zoom;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

@keyframes load-zoom {
    from{
        transform: scale(0.9)
    }
    to{
        transform: scale(1)
    }
}

/* ------------------------------------Section */

a.underline {
  border-bottom: 1px solid #6c8f3f;
  transition: 0.5s all;
}
a.underline:hover {
  border-bottom: 3px solid #aa2200
}

section {
    background:url(../images/horizon-dark.png) no-repeat;
    background-size: cover;
    padding: 50px 0 10px;
    height: 100%;
}

.index-section {
    height: 800px;
}

.card {
    opacity: 0.8;
    display: block;
    margin-bottom: 30px auto;
    width: 100%;
    border-radius: 50%;
    animation-name: load-zoom;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

.card-body {
    margin: 0 auto;
    width: 90%;
}

.card-portfolio {
    opacity: 0.7;
    height: 90%;
    width: 100%;
    margin: 30px;
}

.card-title {
    text-align: center;
    margin-top: 20px;
}

.card-text {
    width: 90%;
    text-align: center;
    font-size: 14px;
    margin-top: 15px;
}

.card-p-portfolio {
    text-align: center;
    font-size: 14px;
    margin: 10px 0;
}

.portfolio-btn-heading {
    text-align: center;
}

.card-body a {
    height: 40px;
    font-size: 15px;
    margin-top: 20px;
}

/* ------------------------------------Footer */

footer {
    position: relative;
    height: wrap;
}

.footer-h6 {
    text-align: center;
    margin-top: 20px;
    overflow: none;
    font-size: 20px;
}

.footer-p {
    text-align: center;
    font-size: 16px;
}

.social-links {
    text-align: center;
    margin-top: 25px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 10px 0;
    border-radius: 50%;
    margin-right: 5px;
    font-size: 14px;
    text-align: center;
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

/* ------------------------------------About alignments */

.me-about {
    margin-top: 60px;
    width: 80%;
    min-width: 250px;
    height: 80%;
    min-height: 250px;
    max-height: 400px;
    border-radius: 50%;
    animation-name: load-zoom;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

.section-about {
    font-weight: 600;
    height: 800px;
}

.footer-about {
    height: 200px;
}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-about {
    width: 19%;
    height: 19%;
    margin: 0 auto;
}

hr {
    margin: 5px 0 0 0 auto;
    width: 100%;
}

.left-about-heading {
    width: 80%;
    float: right;
    line-height: 20px;
    margin-bottom: 50px;
    padding-left: 20px;
    clear: both;
}

.left-about-heading h2 {
    text-align: left;
}

.left-about-heading p {
    text-align: left;
}

.right-about-heading {
    width: 80%;
    float: left;
    line-height: 20px;
    margin-bottom: 50px;
    padding-right: 20px;
    clear: both;
}

.right-about-heading h2 {
    text-align: right;
}

.right-about-heading p {
    text-align: right;
}

#welcome {
    margin: 20px 0;
    text-align: center;
    font-size: 280%;
}

/* ------------------------------------Contact */

.contact-section {
    height: 800px;
}

.contact1 {
    text-align: center;
    margin-top: 200px;
    margin-bottom: 30px;
}

.contact2 {
    text-align: center;
    margin-bottom: 30px;
}

.contact-request {
    border: none;
    display: block;
    margin: 0 auto;
    height: 50px;
    width: 150px;
}

.contact-request a {
    outline: none;
    border: 0;
    text-decoration: none;
}

/* ------------------------------------Portfolio */