/* ------------------------------------General */

body {
    margin: 0;
    padding: 0;
    font-family: 'lucida sans', sans-serif;
}

/* ------------------------------------Heading */

nav, nav ul {
    height: 0;
}

nav ul li {
    z-index: 4;
    box-shadow: 4px 8px 6px 4px #200720;
    top: 0;
    line-height: 25px;
    font-size: 15px;
    min-height: 50px;
    min-width: 150px;
    border: none;
    list-style: none;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}

nav ul li a {
    margin-top: 5px;
}

.home-button {
    position: relative;
    z-index: 5;
    box-shadow: 4px 8px 6px 0px #200720;
    font-size: 15px;
    top: 0;
    min-height: 50px;
    min-width: 150px;
    border: none;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .4s ease-in-out;
    transform: translateY(-8px)
}

.slide-about {
    position: absolute;
    transition: all .3s ease-in-out;
    transform: translateX(0px);
}

.slide-portfolio {
    position: absolute;
    transition: all .3s ease-in-out;
    transform: translateX(0);
}

.slide-contact {
    position: absolute;
    transition: all .3s ease-in-out;
    transform: translateY(0);
}

.slide {
    position: relative;
}

.slide:hover .slide-about {
    transform: translateX(-150px);
}

.slide:hover .slide-portfolio {
    transform: translateX(150px);
}

.slide:hover .slide-contact {
    transform: translateY(50px);
}

.slide:hover .home-button {
    box-shadow: 0px 0px 0px 0px #200720;
}

.toptriangle {
    position: absolute;
    z-index: 3;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-top: 200px solid #ed7458;
}

/* ------------------------------------Colours */

nav ul li {
    background-color: #8e7c68;
    color: #ffdc9f;
}

nav ul li a {
    color: #ffdc9f; 
}

nav ul li a:hover {
    color: #ffdc9f;
}

button a {
    color: #ffdc9f;
}

button a:hover {
    color: #ffdc9f;
}

.home-button {
    color: #ffdc9f;
    background-color: #8e7c68;
}

footer {
    color: #ffdc9f;
	background-color: #8e7c68;
}

.card, .card-about, .card-portfolio {
    margin-top: 150px;
    border: 1px solid #201563;
    background: #8e7c68;
    color: #ffdc9f;
}

.portfolio-btn-heading a {
    color: #ffdc9f;
}

.card-body-about a {
    color: #ffdc9f;
}

h6 i {
    color: #ed7458;
}

.social-links li a i {
    color: #ffdc9f;
    background: #ed7458;
}

.social-links li a i:hover {
    background: #bb5c46;
}

hr {
    border-top: 2px solid #ed7458;
}

.section-about {
    color: #ffdc9f;
    text-shadow: 1px 1px #190419;
    font-weight: 900;
}

#welcome {
    text-shadow: 3px 3px #190419;    
}

/* ------------------------------------Image attributes */

main {
    background:url(../images/vektor.jpg) no-repeat;
    background-size: cover;
}

.me-container {
    margin: 50px auto;
    width: 80%;
    height: 80%;
}

.me {
    width: 100%;
    max-width: 300px;
    height: 100%;
    max-height: 400px;
    border-radius: 50%;
    animation-name: load-zoom;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

@keyframes load-zoom {
    from{
        transform: scale(0.9)
    }
    to{
        transform: scale(1)
    }
}

/* ------------------------------------Section */

main {
    padding: 0;
    height: 100%;
}

.card {
    margin-top: 200px;
    opacity: 0.8;
    display: block;
    margin-bottom: 30px auto;
    width: 100%;
    border-radius: 50%;
    animation-name: load-zoom;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

.card-body {
    margin: 0 auto;
    width: 90%;
}

.card-portfolio {
    opacity: 0.7;
    height: 90%;
    width: 100%;
    margin: 30px;
}

.card-title {
    text-align: center;
    margin-top: 20px;
}

.card-text {
    width: 90%;
    text-align: center;
    font-size: 14px;
    margin-top: 15px;
}

.card-p-portfolio {
    text-align: center;
    font-size: 14px;
    margin: 10px 0;
}

.portfolio-btn-heading {
    text-align: center;
}

.card-body a {
    height: 40px;
    font-size: 15px;
    margin-top: 20px;
}

/* ------------------------------------Footer */

footer {
    position: relative;
    height: wrap;
}

.footer-h6 {
    text-align: center;
    margin-top: 20px;
    overflow: none;
    font-size: 20px;
}

.footer-p {
    text-align: center;
    font-size: 16px;
}

.social-links {
    text-align: center;
    margin-top: 25px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 10px 0;
    border-radius: 50%;
    margin-right: 5px;
    font-size: 14px;
    text-align: center;
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

/* ------------------------------------About alignments */

.me-about {
    margin-top: 60px;
    width: 80%;
    min-width: 250px;
    height: 80%;
    min-height: 250px;
    max-height: 400px;
    border-radius: 50%;
    animation-name: load-zoom;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

.section-about {
    font-weight: 600;
    height: 800px;
}

.footer-about {
    height: 200px;
}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-about {
    width: 19%;
    height: 19%;
    margin: 0 auto;
}

hr {
    margin: 5px 0 0 0 auto;
    width: 100%;
}

.left-about-heading {
    width: 80%;
    float: right;
    line-height: 20px;
    margin-bottom: 50px;
    padding-left: 20px;
    clear: both;
}

.left-about-heading h2 {
    text-align: left;
}

.left-about-heading p {
    text-align: left;
}

.right-about-heading {
    width: 80%;
    float: left;
    line-height: 20px;
    margin-bottom: 50px;
    padding-right: 20px;
    clear: both;
}

.right-about-heading h2 {
    text-align: right;
}

.right-about-heading p {
    text-align: right;
}

#welcome {
    margin: 20px 0;
    text-align: center;
    font-size: 280%;
}

/* ------------------------------------Contact */

.contact-section {
    height: 800px;
}

.contact-column {
    margin-top: 100px;
}

.contact1 {
    text-align: center;
    margin-top: 200px;
    margin-bottom: 30px;
}

.contact2 {
    text-align: center;
    margin-bottom: 30px;
}

.contact-request {
    border: none;
    display: block;
    margin: 0 auto;
    height: 50px;
    width: 150px;
}

.contact-request a {
    outline: none;
    border: 0;
    text-decoration: none;
}

/* ------------------------------------Portfolio */

