.navdefault {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #073e55;
}

button {
    z-index:1;
    border: none;
    background-color: #073e55;
    width: 100px;
    height: 50px;
    text-transform: uppercase;
    cursor: pointer;
}

button a {
    color: #cbd191;
}

.dropdownMenu {
    list-style: none;
    position: absolute;
    text-transform: uppercase;
    margin:0;
    padding:0;
    left: 0;
    right: 0;
    top: 0;
    height: 50px;
    width: 700px;
    text-align: left;
    box-shadow: 4px 8px 6px 0px rgba(25,4,25,1);
    transform: translate(-800px);
    transition: transform .5s ease-in-out;
}

.dropdownLink {
    text-decoration: none;
    display: block;
    padding: 10px 5px;
    background-color: #cbd191;
    color: #000000;
    transition: background-color .5s ease-in-out, color .5s ease-in-out;
}

.dropdownLink:hover {
    color: #cbd191;
    background-color: #000000;
}

.slide {
    width: 150px;
    top: 0;
    position: relative;
}

.slide:hover .dropdownMenu {
    transform:translate(0);
}

section {
    padding-top: 50px;
	background-color: rgb(255, 235, 145);
    height:1000px;
}

img {
    float:left;
    margin-top: 10px;
	margin-left: 10px;
	width: 55px;
	height: 70px;
	border-radius: 100%;
	border: 1px solid purple;
	transform: scale(1);
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
}

img:hover {
	transform: scale(1.3);
}

h3 {
    margin-top: 10px;
	margin-left: 10px;
	font-family: Roboto, sans-serif;
	font-weight: 600;
    font-size: 1em;
}

.headerbox {
    height: 30px;
}

.reign {
    color: gray;
    margin-left: 10px;
    font-family: Roboto;
    font-weight: 100;
}

.p {
	color: navy;
	margin-top: 65px;
	margin-left: 10px;
	font-family: Roboto, sans-serif;
	font-weight: 500;
}

footer {
	height: 100px;
	background-color: rgb(153, 255, 153);
}

