/* ----------Fonts, General Rules and Colour Scheme #934A5F / #57648C / #C2B4D6 / #E5E5E5 */

@import url('https://fonts.googleapis.com/css?family=Bangers|Lato|Oswald|Roboto&display=swap');

html, body {
margin: 0;
padding: 0;
display: block;
background: #e5e5e5;
color: #57648C;
font-family: "Lato", sans-serif;
}

/* ------------------------------------Nav and Landing */

.navbar-toggler, .navbar-toggler-icon {
    color: #ddd;
}

nav, nav ul, nav ul li, nav ul li a {
background: #C2B4D6;
color: #57648C;
}

nav a, .nav-link {
background: #C2B4D6;
color: #57648C;
border: none;
text-decoration: none;
}

nav a:hover, .nav-link:hover {
background: #C2B4D6;
color: #57648C;
border: none;
text-decoration: none;
}

.nav-link:checked {
pointer-events: none;
}

.navbar-brand {
background: #C2B4D6;
margin:5px;
transform: scale(1.1);
}

.welcome-heading {
color: #57648C;
font-family: "Roboto", sans-serif;
position: relative;
vertical-align: middle;
animation: 2.5s ease-in popin;
}

.welcome-heading span {
cursor: pointer;
}

.welcome-text {
font-family: "Bangers", sans-serif;
color: #57648C;
animation: 3.2s ease-in popin;
}

.welcome-text2 {
font-family: "Roboto", sans-serif;
font-size: 16px;
color: #57648C;
animation: 3.4s ease-in popin;
}

.welcome-text2 a {
color: inherit;
text-decoration: none;
border: none;
cursor: pointer;
}

.welcome-text i {
margin-left: 10px;
}

.workman {
position: relative;
margin: 100px;
overflow:none;
}

.landing {
    height: 700px;
}

.pink {
    background-color: #C2B4D6;
}

/* ------------------------------------Main Sections */

.header {
color: #57648C;
}

/* ------------------------------------Skillcards */

#skill-section {
width: 100%;
color: #57648C;
}

#skill-section div div h2 {
font-size: 3em;
}

.card {
background: #57648C;
color: #e5e5e5;
box-shadow: 8px 6px 6px 0px #200720cc;
border-radius: 15px;
margin: 25px;
 height: 80%;
}

.card h2 {
text-transform: underline;
text-align:center;
width: 100%;
color: #e5e5e5;
}

.card p {
text-align:center;
width: 100%;
color: #e5e5e5;
}

.logos {
margin: 0 auto;
padding-bottom: 10px;
opacity: 1;
}

.btn, .btn:hover {
    border: none;
}

/* ------------------------------------Workflow Progress */

#workflow-section {
height: wrap;
}

.progress {
height: 15px;
margin-top: 10px;
background-color: #ff9;
}

.progress-bar {
display: block;
}

.progress-text {
position: relative;
font-style: italic;
text-align: center;
left: 0px;
font-size: 14px;
font-weight: 600;
}

.wrapstack {
background-color: #57648C;
color: #E5E5E5;
box-shadow: 8px 6px 6px 0px #200720cc;
}

.stacks-header {
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 1.1em;
letter-spacing: 1.5px;
}

/* ------------------------------------Portfolio */

.feature {
height: 100%;
}

.featureframe {
    width: 100%;
    height: 300px;
    border: 1px solid #934A5F;
    border-radius: 25px;
    margin: 10px;
}

.h-span {
    font-size: 18px;
}

.lead {
    margin-left: 15px;
}


/* ------------------------------------Profile Section */

.me {
position: relative;
}

.profileimg {
position: relative;
width: 120px;
height: 120px;
margin: 0 auto;
overflow: visible;
}

.frame {
font-family: Helvetica, sans-serif;
position: relative;
width: 400px;
height: 400px;
border-radius: 2px;
background: #934A5F;
color: #E5E5E5;
}

.left {
position: relative;
top: 50px;
left: 40px;
height: 240px;
width: 260px;
background: #C2B4D6;
border-radius: 3px;
overflow: hidden;
box-shadow: 10px 10px 15px 0 rgba(0,0,0,0.3);
}

.profile {
float: left;
width: 200px;
height: 320px;
text-align: center;
}

.rund-1 {
position: absolute;
box-sizing: border-box;
width: 123px;
height: 123px;
top: -3px;
left: -3px;
border-width: 1px;
border-style: solid;
border-color: #786450 #786450 #786450 transparent;
border-radius: 50%;
transition: all 1.5s ease-in-out;
transform: rotate(360deg);
}
		
.rund-2 {
position: absolute;
box-sizing: border-box;
width: 126x;
height: 126px;
top: -6px;
left: -6px;
border-width: 1px;
border-style: solid;
border-color: #786450 transparent #786450 #786450;
border-radius: 50%;
transition: all 1.5s ease-in-out;
transform: rotate(-360deg);
}
		
.profileimg {
display: block;
margin: 0 auto;
border-radius: 50%;
}
		
.profileimg:hover {
cursor: pointer;
}

.name {
font-size: 15px;
font-weight: 600;
margin-top: 20px;
}
	
.job {
font-size: 11px;
line-height: 15px;
}
	
.actions {
margin-top: 33px;
}
		
.profilebtn {
display: block;
width: 120px;
height: 30px;
margin: 0 auto 10px auto;
background: none;
border: 1px solid brown;
border-radius: 15px;
font-size: 12px;
font-weight: 600;
box-sizing: border-box;
transition: all .3s ease-in-out;
color: #786450;
}
			
.profilebtn:hover  {
background: #786450;
color: #fff;
}


/* ------------------------------------Contact Form */

#contact-section-id {
    background-color: #e5e5e5;
    color: #57648C;
}

.contact-form {
    margin: 50px 0;
}

.form-group button[type=submit] {
    width: 100%;
}

.contact-heading {
    text-align: center;
    text-transform: capitalize;
    text-decoration: underline;
    margin: 20px 0 10px;
}

/* ------------------------------------Footer */


footer {
    bottom: 0;
    height: wrap;
    background: #57648C;
    color: #E5E5E5;
}

.footer-h6 {
    text-align: left;
    margin: 20px;
    font-size: 1.1em;
    letter-spacing: 0.05em;
}

.social-h6 {
    text-align: left;
    margin-top: 20px;
    font-size: 1.1em;
    letter-spacing: 0.1em;
    color: #E5E5E5;
}

footer i {
    text-align: left;
    padding-right: 2px;
    color: #ffbb00;
}

.footer-p {
    letter-spacing: .02em;
    text-align: left;
    font-size: 1em;
    padding: 15px;
    color: #E5E5E5;
}

.social-links {
    text-align: left;
    margin-top: 30px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 10px 0;
    border-radius: 50%;
    margin-right: 5px;
    font-size: 14px;
    text-align: center;
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    background-color: #03c;
    color: #e5e5e5;
}

.social-links li a i:hover {
    background-color: #e5e5e5;
    color: #06f;
}

/* ------------------------------------linear-gradients and hr */

.longhr {
width: 80%;
border-top: 2px solid #934A5F;
border-right: none;
border-bottom: none;
border-left: none;
}

.shorthr {
width:30%;
border-top: 2px solid #934A5F;
border-right: none;
border-bottom: none;
border-left: none;
}

.linear-gradient {
position:static;
border: none;
width: 100%;
background-image: -webkit-linear-gradient(271deg, #C2B4D6 5%, #e5e5e5 70%, #C2B4D6 95%);
background-image: -o-linear-gradient(271deg, #C2B4D6 5%, #e5e5e5 70%, #C2B4D6 95%);
background-image: linear-gradient(1deg, #C2B4D6 5%, #e5e5e5 70%, #C2B4D6 95%);
}

.linear-gradient2 {
border: none;
position: absolute;
margin: 0;
padding: 0;
bottom: 0;
width:100%;
height: 200px;
background-image: -webkit-linear-gradient(271deg, #C2B4D6 35%, #e5e5e5 90%);
background-image: -o-linear-gradient(271deg, #C2B4D6 35%, #e5e5e5 90%);
background-image: linear-gradient(1deg, #C2B4D6 35%, #e5e5e5 90%);
}

.linear-gradient3 {
border:none;
width: 100%;
height: 100px;
margin: 0;
padding: 0;
background-image: -webkit-linear-gradient(271deg, #e5e5e5 25%, #C2B4D6 65%);
background-image: -o-linear-gradient(271deg, #e5e5e5 25%, #C2B4D6 65%);
background-image: linear-gradient(1deg, #e5e5e5 25%, #C2B4D6 65%);
}

.linear-gradient4 {
border: none;
margin: 0;
padding: 0;
background-image: -webkit-linear-gradient(274deg, #C2B4D6 10%, #e5e5e5 85%);
background-image: -o-linear-gradient(274deg, #C2B4D6 10%, #e5e5e5 85%);
background-image: linear-gradient(4deg, #C2B4D6 10%, #e5e5e5 85%);
}

.linear-gradient5 {
position: static;
background-image: -webkit-linear-gradient(280deg, #e5e5e5 10%, #C2B4D6 85%);
background-image: -o-linear-gradient(280deg, #e5e5e5 10%, #C2B4D6 85%);
background-image: linear-gradient(10deg, #e5e5e5 10%, #C2B4D6 85%);
}

.radial-gradient {
background-image: radial-gradient(#C2B4D6 15%, #e5e5e5 50%);
}

/* ------------------------------------Keyframes */

@keyframes popin { 
0% {transform: scale(0) skew(10deg);} 
75% {transform: scale(0) skew(10deg);} 
90% {transform: scale(1,1) skew(5deg);}
95% {transform: scale(0.95) skew(-2deg);}
100% {transform: scale(1) skew(0);} 
}

@keyframes growbar { 
    from {
        width: 10%;
    } 
    to {
        width: 100%;
    }
}


/* ------------------------------------Media Queries */

@media(max-width: 1200px) {
}

@media(max-width: 992px) {
}

@media(max-width: 768px) {
.workman {
width: 160px;
height: 160px;
display:none;}
}

@media(max-width: 576px) {
.workman {
width:120px;
height:120px;
display: none;}
}

@media only screen {}
}

